:root{
    --white-color:#fff;
    --black-color:#000;

    --primary-color:#373737;
    --secondary-color:#9B9B9B;
    --primary-btn-color:#3A86FF;

    --border-gray:#ccc;
    --light-blue:#CDE0FF;
}